<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nouvel Utilisateur</title>
</head>
<body>
    <h1>Nouvel Utilisateur</h1>
    <form method="POST">
        <label for="username">Identifiant:</label><br>
        <input type="text" id="username" name="utilisateur"><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br><br>

        <label for="password">Mot de passe:</label><br>
        <input type="password" id="password" name="mot_de_passe"><br><br>

        <input type="submit" value="Valider">
    </form>
    <p>{{ message_username }}</p>
    <p>{{ message_mail }}</p>
    <p>{{ message_password }}</p>
</body>
</html>
